body {
    background-color:#111111;
    color:#EEEEEE;
}

input{
    width:75px;
}

.clickable{
    cursor:pointer;
    border:1px solid black;
    box-shadow:1px solid gray;
    background-color:#333333;
    padding:3px;
    color:#DDDDEE
}

.loadingIndicator{
    background-color:#554400;
    color:#888888;
    text-align:center;
}

.tableSection{
    display:table;
}

.tableSection>div{
    display:table-row;
}
.tableSection>div>span{
    display:table-cell;
}

.configArea{

}

.resultsArea{

}

.jsonator{
    background-color:#444444;
}

.jsonator textarea{
    width:800px;
    height:400px;
}

.tankSection{
    background-color:#336633;
    border:3px solid #888888;
    display:block;
    width:1250px;
}

.tankContainer{
    border: 2px solid #003300;
    display:inline-block;
}

.healerSection{
    background-color:#333366;
    border:3px solid #888888;
    display:inline-flex;
    flex-direction:column;
    width:335px;
    min-height:350px;
}

.healerSection>div{
    display:block;
}


.mobSection{
    background-color:#663333;
    border:3px solid #888888;
    display:inline-flex;
    /*max-width:835px;*/
    width:905px;
    min-height:350px;
    flex-direction:column;
}

.mobContainer{
    border: 2px solid #330000;
    display:inline-flex;
    min-height:250px;
}

.mobAttackContainer{
    border: 1px solid #330000;
}

.resultSummary{
    display:inline-block;
    border:1px solid #888888;
    width:200px;
}

.resultSummary span{
    padding:2px;
    background:#222222;
    width:100px;
    border:1px solid #111111;
}